<!DOCTYPE html>
<html>
  <head>
    <title>Kinect Hand Input</title>
    <link rel="stylesheet" href="application.css" type="text/css" />
    <script src="jquery.js" type="text/javascript"></script>
    <script src="application.js" type="text/javascript"></script>
  </head>
  <body>
    <h1>Kinect Hand Input</h1>
    <p>
      <button>Connect</button>
    </p>
    <p>
      <label>Status:</label>
      <span id="status"></span>
    </p>
    <canvas id="canvas" width="640" height="480"></canvas>
  </body>
</html>
