#status-text {
  width: 90em;
  height: 1.4em;
  line-height: 1.4em;
  padding-left: 5px;
}

#status-label, #status-text {
 font-size: 11pt;
}

#circle-pointer {
  border-radius: 25px;
  background-color: #00aaff;
}

#square-pointer {
  background-color: #ff00aa;
}

.pointer {
  position: absolute;
  visibility: hidden;
  z-index: 50;
  opacity: 0.7;
  width: 30px;
  height: 30px;
}
